@model PI3.Database.Cliente
@{
    Layout = "~/Views/Shared/_LayoutPaginasInternas.cshtml";
	ViewBag.Title = "Acompanhe seu pedido";
}


<div class="col-md-8 col-md-offset-2" style="min-height:500px;">

    <h2 class="page-header">Acompanhe seu pedido</h2>
    <p id="mensagem"></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Pedido Nº
                </th>
                <th>
                    Status
                </th>
                <th>
                    Tipo Pagamento
                </th>
                <th>
                    Data Pedido
                </th>
                <th>
                    Endereço para entrega
                </th>
                <th>
                    Valor Total
                </th>
                <th>
                    Itens
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Pedido.Count == 0)
            {
                <tr>
                    <td colspan="6">
                        <h2>Não há pedidos</h2>
                    </td>
                </tr>
            }
            @foreach (var pedido in Model.Pedido.OrderByDescending(p => p.dataPedido))
            {
                <tr>
                    <td>
                        @pedido.idPedido
                    </td>
                    <td>
                        @pedido.StatusPedido.descStatus
                    </td>
                    <td>
                        @pedido.TipoPagamento.descTipoPagto
                    </td>
                    <td>
                        @pedido.dataPedido.ToShortDateString()
                    </td>
                    <td>
                        @pedido.Endereco.CEPEndereco
                        <br />
                        @pedido.Endereco.logradouroEndereco, @pedido.Endereco.numeroEndereco - @pedido.Endereco.complementoEndereco
                        <br />
                        @pedido.Endereco.cidadeEndereco - @pedido.Endereco.paisEndereco
                    </td>
                    <td>
                        @pedido.ItemPedido.Sum(p => p.precoVendaItem).ToString("n2")
                    </td>
                    <td>
                        <a name="detalhes" id="detalhes" class="btn btn-default" href="@Url.Action("DetalhesPedido", "Conta", new { id = pedido.idPedido })">Detalhes</a>
                    </td>
                    <td>
                        <a class="btn btn-info" href="@Url.Action("CancelarPedido", "Conta", new { id = pedido.idPedido })" @(pedido.idStatus <= 2 ? "" : "disabled") onclick="return confirm('Deseja cancelar o pedido ?');">Cancelar Pedido</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script>
	$(function () {
		$("#detalhes").fancybox({
			maxWidth: 800,
			maxHeight: 600,
			fitToView: false,
			width: '70%',
			height: '50%',
			autoSize: false,
			closeClick: false,
			openEffect: 'none',
			closeEffect: 'none',
			type: 'iframe'
		});
	});
</script>