@model List<PI3.Database.Endereco>
@{
    ViewBag.Title = "Endereços";
    Layout = "~/Views/Shared/_LayoutPaginasInternas.cshtml";
    int i = 1;
}

<div class="col-md-8 col-md-offset-2" style="min-height:400px;">
    <h2 class="page-header">Endereços</h2>
    @if (TempData["erro"] != null)
    {
        <div class="alert alert-danger"><strong>@TempData["erro"]</strong></div>
    }
    @if (TempData["sucesso"] != null)
    {
        <div class="alert alert-success"><strong>@TempData["sucesso"]</strong></div>
    }
    <a class="btn btn-info" href="@Url.Action("Index", "Conta")" style="width:150px;">Voltar</a>
    <a class="btn btn-success" href="@Url.Action("Adicionar", "Endereco")" style="width:150px;">Adicionar endereço</a>
    <br /><br />
    @foreach (var endereco in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">#@i - @endereco.nomeEndereco</h3>
            </div>
            <div class="panel-body">
                @endereco.CEPEndereco
                <br />
                @endereco.logradouroEndereco, @endereco.numeroEndereco - @endereco.complementoEndereco
                <br />
                @endereco.cidadeEndereco - @endereco.paisEndereco
                <br />
                <a href="@Url.Action("Editar", "Endereco", new { id = endereco.idEndereco })" class="btn btn-warning">Editar</a>
                <a href="@Url.Action("Excluir", "Endereco", new { id = endereco.idEndereco })" class="btn btn-danger">Excluir</a>
            </div>
        </div>
        i++;
    }
</div>