@model PI3.Database.Produto
@{
    ViewBag.Title = "Home Page";
}
<article>
    
    <div class="row" style="margin-top:0;">
        <div class="product-align">
            <div class="product" itemscope itemtype="http://schema.org/Product">
                <div class="product-img">
					<img itemprop="image" class="center-block" alt="imagem produto" src="@Url.Content("~/Imagens/0.jpg")">
                </div>
                <p class="product-name" itemprop="name">Cerveja Estrella Galicia</p>
                <p class="product-detail" itemprop="review">Garrafa 200ml</p>
                <p class="product-review">Lorem cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

                <!-- div que separa itens referente ao preço de cada produto -->
                <p class="product-price">Por: R$2,99</p>

                <!-- fim div que engloba todo o produto -->
            </div>
            <!-- fim div que alinha produtos-->
        </div>

        <!-- div que alinha produtos -->
        <div class="product-align">
            <div class="product" itemscope itemtype="http://schema.org/Product">
                <div class="product-img">
                    <img itemprop="image" class="center-block" alt="imagem produto" src="@Url.Content("~/Imagens/1.jpg")">
                </div>
                <p class="product-name" itemprop="name">Cerveja Estrella Galicia</p>
                <p class="product-detail" itemprop="review">Garrafa 200ml</p>
                <p class="product-review">Lorem cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

                <!-- div que separa itens referente ao preço de cada produto -->
                <p class="product-price">Por: R$2,99</p>

                <!-- fim div que engloba todo o produto -->
            </div>
            <!-- fim div que alinha produtos-->
        </div>

        <!-- div que alinha produtos -->
        <div class="product-align">
            <div class="product" itemscope itemtype="http://schema.org/Product">
                <div class="product-img">
                    <img itemprop="image" class="center-block" alt="imagem produto" src="@Url.Content("~/Imagens/2.jpg")">
                </div>
                <p class="product-name" itemprop="name">Cerveja Estrella Galicia</p>
                <p class="product-detail" itemprop="review">Garrafa 200ml</p>
                <p class="product-review">Lorem cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

                <!-- div que separa itens referente ao preço de cada produto -->
                <p class="product-price">Por: R$2,99</p>

                <!-- fim div que engloba todo o produto -->
            </div>
            <!-- fim div que alinha produtos-->
        </div>
        <!-- div que alinha produtos -->
    </div>
    <div class="row">
        <div class="product-align">
            <div class="product" itemscope itemtype="http://schema.org/Product">
                <div class="product-img">
					<img itemprop="image" class="center-block" alt="imagem produto" src="@Url.Content("~/Imagens/0.jpg")">
                </div>
                <p class="product-name" itemprop="name">Cerveja Estrella Galicia</p>
                <p class="product-detail" itemprop="review">Garrafa 200ml</p>
                <p class="product-review">Lorem cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

                <!-- div que separa itens referente ao preço de cada produto -->
                <p class="product-price">Por: R$2,99</p>

                <!-- fim div que engloba todo o produto -->
            </div>
            <!-- fim div que alinha produtos-->
        </div>

        <!-- div que alinha produtos -->
        <div class="product-align">
            <div class="product" itemscope itemtype="http://schema.org/Product">
                <div class="product-img">
					<img itemprop="image" class="center-block" alt="imagem produto" src="@Url.Content("~/Imagens/1.jpg")">
                </div>
                <p class="product-name" itemprop="name">Cerveja Estrella Galicia</p>
                <p class="product-detail" itemprop="review">Garrafa 200ml</p>
                <p class="product-review">Lorem cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

                <!-- div que separa itens referente ao preço de cada produto -->
                <p class="product-price">Por: R$2,99</p>

                <!-- fim div que engloba todo o produto -->
            </div>
            <!-- fim div que alinha produtos-->
        </div>

        <!-- div que alinha produtos -->
        <div class="product-align">
            <div class="product" itemscope itemtype="http://schema.org/Product">
                <div class="product-img">
					<img itemprop="image" class="center-block" alt="imagem produto" src="@Url.Content("~/Imagens/2.jpg")">
                </div>
                <p class="product-name" itemprop="name">Cerveja Estrella Galicia</p>
                <p class="product-detail" itemprop="review">Garrafa 200ml</p>
                <p class="product-review">Lorem cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>

                <!-- div que separa itens referente ao preço de cada produto -->
                <p class="product-price">Por: R$2,99</p>

                <!-- fim div que engloba todo o produto -->
            </div>
            <!-- fim div que alinha produtos-->
        </div>
        <!-- div que alinha produtos -->
    </div>
</article>
