@model List<PI3.Database.ItemPedido>
@{
    Layout = null;
}
<link href='http://fonts.googleapis.com/css?family=IM+Fell+English:400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<link href="~/Content/bootstrap2.css" rel="stylesheet" />

<div>
    <h3 class="page-header">Itens do pedido #@Model[0].idPedido</h3>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Produto
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Preço Unit.
                </th>
                <th>
                    Desconto
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Produto.nomeProduto
                    </td>
                    <td>
                        @item.qtdProduto
                    </td>
                    <td>
                        @item.precoVendaItem.ToString("n2")
                    </td>
                    <td>
                        @item.Produto.descontoPromocao.Value.ToString("n2")
                    </td>
                    <td>
                        @((item.qtdProduto * (item.precoVendaItem - item.Produto.descontoPromocao.Value)).ToString("n2"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>